<?xml version='1.0' encoding='utf-8'?>
<plugin version="0.0.1"
        id="cordova.plugins.egoNotificacao"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>EgoNotificacao</name>

    <platform name="android">

        <config-file parent="/*" target="config.xml">
            <feature name="EgoNotificacao" >
                <param name="android-package" value="cordova.plugins.EgoNotificacao"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="cordova.plugins.EGONotificaService" />
            <service android:name="cordova.plugins.SincronizacaoService" />
        </config-file>

        <js-module name="EgoNotificacao" src="www/egoNotificacao.js">
            <clobbers target="cordova.plugins.egoNotificacao"/>
        </js-module>

        <source-file src="src/android/EgoNotificacao.java"
                     target-dir="src/cordova/plugins"/>
        <source-file src="src/android/EGONotificaService.java"
                     target-dir="src/cordova/plugins"/>
        <source-file src="src/android/SincronizacaoService.java"
                     target-dir="src/cordova/plugins"/>
    </platform>

</plugin>
